service vendor.boot-default /vendor/bin/hw/android.hardware.boot-service.default-exynos9610
    class early_hal
    user root
    group root drmrpc
    interface aidl android.hardware.boot.IBootControl/default
