on init
    # Allow adspd to access headset detect event
    chmod 0664 /dev/input/event5

   # Change ownership and permission for vibrator awinic with extra functions
   chown system system /sys/class/leds/vibrator/seq
   chmod 0660 /sys/class/leds/vibrator/seq
   chown system system /sys/class/leds/vibrator/extra
   chmod 0660 /sys/class/leds/vibrator/extra

on boot
    #change permission for capsensor
    chmod 0660 /sys/class/capsense/reset
    chown system system /sys/class/capsense/reset

   # Change ownership and permission for camera dual calibration data
   chown system camera /mnt/vendor/persist/camera/dualcal/dual_cal_data.bin
   chown system camera /mnt/vendor/persist/camera/dualcal/module_id.bin
   chmod 0664 /mnt/vendor/persist/camera/dualcal/dual_cal_data.bin
   chmod 0664 /mnt/vendor/persist/camera/dualcal/module_id.bin

service capsense_reset /vendor/bin/capsense_reset
    class core
    user system
    group system input
    disabled

on property:sys.boot_completed=1
  start capsense_reset

on property:ro.carrier=tmo
  write /sys/class/power_supply/battery/device/force_max_chrg_temp 55

on property:ro.carrier=metropcs
  write /sys/class/power_supply/battery/device/force_max_chrg_temp 55
