on post-fs-data
    mkdir /data/vendor/display 0770 system system

service vendor.livedisplay-hal-2-0-exynos9610 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.exynos9610
    class hal
    user system
    group system