on early-init
    mkdir /mnt/vendor/efs 0771 radio system
    mkdir /mnt/vendor/efsbk 0755 system system
    mkdir /mnt/vendor/persist 0771 system system
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    mount proc proc /proc remount hidepid=2,gid=3009

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /storage/sdcard 0000 root root
    mkdir /storage/usb1 0000 root root
    mkdir /storage/usb2 0000 root root
    mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb2 0700 media_rw media_rw

    export SECONDARY_STORAGE /storage/sdcard:/storage/usb1:/storage/usb2

    # Support legacy paths
    symlink /storage/sdcard /mnt/ext_sd
    symlink /data/app /factory

    ## SCSC WLAN
    # SD-755: Increase default socket rx buffer limit
    # Apply network parameters for high data performance.
    write /proc/sys/net/core/rmem_default 327680
    write /proc/sys/net/core/rmem_max 8388608
    write /proc/sys/net/core/wmem_default 327680
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/optmem_max 20480
    write /proc/sys/net/core/netdev_max_backlog 10000
    write /proc/sys/net/ipv4/tcp_rmem "2097152 4194304 8388608"
    write /proc/sys/net/ipv4/tcp_wmem "262144 524288 1048576"
    write /proc/sys/net/ipv4/tcp_mem "44259 59012 88518"
    write /proc/sys/net/ipv4/udp_mem "88518 118025 177036"

    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet0/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet1/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet2/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet3/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet4/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet5/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet5/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet6/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet6/queues/rx-0/rps_flow_cnt 64
    write /sys/class/net/rmnet7/queues/rx-0/rps_cpus fe
    write /sys/class/net/rmnet7/queues/rx-0/rps_flow_cnt 64
    write /proc/sys/net/core/rps_sock_flow_entries 64

    ## SCSC BT
    chown bluetooth bluetooth /sys/module/scsc_bt/parameters/bluetooth_address

    # add stune/hot
    mkdir /dev/stune/hot
    chown system system /dev/stune/hot
    chown system system /dev/stune/hot/tasks
    chmod 0664 /dev/stune/hot/tasks

    # EAS stune boosting interfaces
    chown system system /dev/stune/top-app/schedtune.boost
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chown system system /dev/stune/top-app/schedtune.prefer_perf
    chown system system /dev/stune/top-app/cgroup.procs

    chown system system /dev/stune/foreground/schedtune.boost
    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chown system system /dev/stune/foreground/schedtune.prefer_perf
    chown system system /dev/stune/foreground/cgroup.procs

    chown system system /dev/stune/background/schedtune.boost
    chown system system /dev/stune/background/schedtune.prefer_idle
    chown system system /dev/stune/background/schedtune.prefer_perf
    chown system system /dev/stune/background/cgroup.procs

    chown system system /dev/stune/schedtune.boost
    chown system system /dev/stune/schedtune.prefer_idle
    chown system system /dev/stune/schedtune.prefer_perf
    chown system system /dev/stune/cgroup.procs

    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_perf 0
    write /dev/stune/top-app/schedtune.util_est_en 1
    write /dev/stune/top-app/schedtune.ontime_en 1

    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/foreground/schedtune.prefer_perf 0
    write /dev/stune/foreground/schedtune.util_est_en 1
    write /dev/stune/foreground/schedtune.ontime_en 1

    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/background/schedtune.prefer_idle 0
    write /dev/stune/background/schedtune.prefer_perf 0

    write /dev/stune/schedtune.boost 0

    chown system system /dev/cpuset/tasks
    chown system system /dev/cpuset/cgroup.procs
    chmod 0664 /dev/cpuset/tasks

    chown system system /sys/power/cpufreq_min_limit

    #sensor
    chmod 0664 /dev/nanohub
    chmod 0664 /dev/nanohub_comms
    chmod 0664 /dev/chub_dev
    chown system system /dev/nanohub
    chown system system /dev/nanohub_comms
    chown system system /dev/chub_dev

    #capsense
    chmod 0644 /sys/class/sensors/capsense_bottom/enable
    chmod 0644 /sys/class/sensors/capsense_bottom/poll_delay
    chmod 0644 /sys/class/sensors/capsense_top/enable
    chmod 0644 /sys/class/sensors/capsense_top/poll_delay
    chmod 0644 /dev/input/event1
    chmod 0644 /dev/input/event2
    chmod 0644 /sys/class/capsense/reset
    chown system system /sys/class/sensors/capsense_bottom/enable
    chown system system /sys/class/sensors/capsense_bottom/poll_delay
    chown system system /sys/class/sensors/capsense_top/enable
    chown system system /sys/class/sensors/capsense_top/poll_delay
    chown system system /dev/input/event1
    chown system system /dev/input/event2
    chown system system /sys/class/capsense/reset
    ##capsensor for sx933x
    chmod 0644 /sys/class/sensors/Moto_CapSense_Ch0/enable
    chown system system /sys/class/sensors/Moto_CapSense_Ch0/enable
    chmod 0644 /sys/class/sensors/Moto_CapSense_Ch0/poll_delay
    chown system system /sys/class/sensors/Moto_CapSense_Ch0/poll_delay
    chmod 0644 /sys/class/sensors/Moto_CapSense_Ch1/enable
    chown system system /sys/class/sensors/Moto_CapSense_Ch1/enable
    chmod 0644 /sys/class/sensors/Moto_CapSense_Ch1/poll_delay
    chown system system /sys/class/sensors/Moto_CapSense_Ch1/poll_delay
    chmod 0644 /sys/class/sensors/Moto_CapSense_Ch3/enable
    chown system system /sys/class/sensors/Moto_CapSense_Ch3/enable
    chmod 0644 /sys/class/sensors/Moto_CapSense_Ch3/poll_delay
    chown system system /sys/class/sensors/Moto_CapSense_Ch3/poll_delay
    chmod 0644 /dev/input/event4
    chown system system /dev/input/event4
    chmod 0644 /dev/input/event2
    chown system system /dev/input/event2
    chmod 0644 /dev/input/event3
    chown system system /dev/input/event3
    # NFC permission
    chmod 0666 /dev/sec-nfc

    # NFC hal surfix
    setprop ro.hardware.nfc_nci sec

    # Limit to ION page pool (Three UHD 32bpp RGB)
    write /sys/module/ion_system_heap/parameters/max_page_pool_size 24300

    # Configuration to G2D blocking mode
    write /sys/module/g2d_task/parameters/block_on_contension 1

    start watchdogd

    # set reap mem
    write /proc/sys/vm/reap_mem_on_sigkill 1

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on post-fs-data
   exec u:r:vendor_toolbox:s0 -- /vendor/bin/toybox_vendor find /data/vendor -type d \
        -exec /vendor/bin/toybox_vendor setfattr -x security.sehash {} \;
   restorecon_recursive /data/vendor
   restorecon_recursive /data/vendor/wifi

# Exynos Data folder
    mkdir /data/vendor 0775 root system
    mkdir /data/vendor/log 0771 root system
    mkdir /data/vendor/log/cbd 0775 root system
    mkdir /data/vendor/gps 0771 system system
    mkdir /data/vendor/log/gps 0771 system system
    mkdir /data/vendor/log/chub 0771 root system
    mkdir /data/vendor/ramdump 0775 root system

    mkdir /data/vendor/rild 0771 radio system
    mkdir /data/vendor/dump 0771 radio system
    mkdir /data/vendor/slog 0771 system log

# IPSEC PIDDIR for VoWiFi
    mkdir /data/vendor/misc 0771 root system
    mkdir /data/vendor/misc/vpn 0777 root system

# regrant permission as the modes align with the partition image
    mkdir /mnt/vendor/efs 0771 radio system
    mkdir /mnt/vendor/efsbk 0755 system system

# Log data folder
    mkdir /data/exynos/log 0771 radio system
    mkdir /data/vendor 0771 root system
    mkdir /data/vendor/log 0771 root system
    mkdir /data/vendor/log/abox 0771 audioserver system

    restorecon_recursive /dev/block/platform/13520000.ufs/by-name/proinfo
    restorecon_recursive /dev/block/platform/13520000.ufs/by-name/proinfo_backup


    restorecon_recursive /dev/block/bootdevice/by-name/proinfo
    restorecon_recursive /dev/block/bootdevice/by-name/proinfo_backup

    setprop vold.post_fs_data_done 1

# Directory for GPS
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/beidou_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info

## SCSC WLAN
    # Setup Wi-Fi permissions
    mkdir /data/vendor/wifi 0770 wifi system
    mkdir /data/vendor/wifi/wpa 0770 wifi system
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd/sockets 0770 wifi wifi
    mkdir /vendor/etc/wifi 0770 system system
    mkdir /data/vendor/log/wifi 0770 wifi wifi
    chown wifi wifi /sys/wifi/memdump

    write /sys/class/net/wlan0/queues/rx-0/rps_cpus fe

# Permissions Camera
    rm /data/vendor/camera/dump_12a10_eeprom_data.bin
    rm /data/vendor/camera/dump_12a10ff_eeprom_data.bin
    rm /data/vendor/camera/dump_16885c_eeprom_data.bin
    rm /data/vendor/camera/dump_5e9_troika_eeprom_data.bin
    rm /data/vendor/camera/2x5_otp_cal_data.bin
    rm /data/vendor/camera/5e9_eeprom_data.bin
    rm /data/vendor/camera/gm1_eeprom_data.bin
    mkdir /data/vendor/camera 0770 system camera
    mkdir /mnt/vendor/persist/camera 0770 system camera
    mkdir /mnt/vendor/persist/camera/ledcal 0770 system camera

# Change ownership and permission for camera dual calibration data
    chown root root /mnt/vendor/persist/camera/dualcal/dual_cal_data.bin
    chown root root /mnt/vendor/persist/camera/dualcal/module_id.bin
    chmod 0666 /mnt/vendor/persist/camera/dualcal/dual_cal_data.bin
    chmod 0666 /mnt/vendor/persist/camera/dualcal/module_id.bin

    # Allow to access WebView
    chmod 0755 /sys/kernel/debug/tracing
    restorecon /sys/kernel/debug/tracing/trace_marker

# HWC data
    mkdir /data/vendor/log/hwc 0771 system graphics

# IMS-WFC
    copy /system/etc/pcscf_routes.sh /vendor/bin/pcscf_routes.sh
    chmod 0755 /vendor/bin/pcscf_routes.sh
    chown root root /vendor/bin/pcscf_routes.sh

# CP AUDIO Tuned parameter
    copy /vendor/firmware/CP_AUDIO_SLSI.bin /mnt/vendor/efs/CP_AUDIO_SLSI.bin
    chown radio radio /mnt/vendor/efs/CP_AUDIO_SLSI.bin

# Create directory used by media clients
    mkdir /data/vendor/media 0770 mediacodec media

# CP AUDIO Tuned parameter
    copy /vendor/firmware/CP_AUDIO_SLSI.bin /mnt/vendor/efs/CP_AUDIO_SLSI.bin
    chown radio radio /mnt/vendor/efs/CP_AUDIO_SLSI.bin

on boot
    restorecon_recursive /data/system/users/0/fpdata/

    setprop wifi.interface wlan0
    write /proc/sys/vm/min_free_order_shift 4

    restorecon_recursive /sys/kernel/debug
    write /sys/module/scsc_mx/parameters/disable_recovery_handling 0

    # Allow to access debugfs for system:system
    chmod 0755 /sys/kernel/debug
    chown system system /sys/kernel/debug

    setprop ro.radio.noril no

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    # Change permission for A-Box firmware logs file & GPR dump
    chown audioserver system /sys/devices/platform/14a50000.abox/reset
    chown audioserver system /sys/devices/platform/14a50000.abox/service
    chown audioserver system /sys/devices/platform/14a50000.abox/0.abox-debug/gpr
    chown audioserver system /sys/devices/platform/14a50000.abox/0.abox-debug/calliope_sram
    chown audioserver system /sys/devices/platform/14a50000.abox/0.abox-debug/calliope_dram
    chown audioserver system /sys/kernel/debug/regmap/14a50000.abox/registers
    chown audioserver system /sys/kernel/debug/abox/log-00

# Permission for USB SELECT
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass

# Permission for UART SWITCH
    chmod 0660 /sys/class/sec/switch/uart_sel
    chown system system /sys/class/sec/switch/uart_sel

on fs
    wait /dev/block/platform/${ro.boot.bootdevice}
    symlink /dev/block/platform/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all /vendor/etc/fstab.exynos9610

    restorecon_recursive /mnt/vendor/efs
    restorecon_recursive /mnt/vendor/efsbk
    restorecon_recursive /mnt/vendor/persist
    restorecon_recursive /data

    chown radio system /mnt/vendor/efs
    #chown root system /mnt/vendor/efsbk
    chown system system /mnt/vendor/persist

    chmod 771 /mnt/vendor/efs
    chmod 771 /mnt/vendor/persist

    mkdir /mnt/vendor/persist/data/sfs 0700 system system
    mkdir /mnt/vendor/persist/data/tz 0700 system system

# Gatekeeper data
    mkdir /mnt/vendor/persist/gk 0700 system system

    # Enable rmnet data and aggregation
    setprop persist.rmnet.mux enabled
    setprop persist.rmnet.data.enable true
    setprop persist.data.wda.enable true
    setprop persist.data.df.agg.dl_pkt 10
    setprop persist.data.df.agg.dl_size 4096

# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chmod 0660 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness
    chmod 0660 /sys/class/backlight/backlight_0/brightness
    chown system system /sys/class/backlight/backlight_0/brightness
    chmod 0660 /sys/class/panel/panel/cabc_mode
    chown system system /sys/class/panel/panel/cabc_mode
    chmod 0660 /sys/class/backlight/hbm/hbm_mode
    chown system system /sys/class/backlight/hbm/hbm_mode

# Permissions for dqe
    chmod 0660 /sys/class/dqe/dqe/gamma
    chown system system /sys/class/dqe/dqe/gamma
    chmod 0660 /sys/class/dqe/dqe/cgc
    chown system system /sys/class/dqe/dqe/cgc
    chmod 0660 /sys/class/dqe/dqe/hsc
    chown system system /sys/class/dqe/dqe/hsc
    chmod 0440 /sys/class/dqe/dqe/xml
    chown system system /sys/class/dqe/dqe/xml
    chmod 0660 /sys/class/dqe/dqe/tune_mode1
    chown system system /sys/class/dqe/dqe/tune_mode1
    chmod 0660 /sys/class/dqe/dqe/tune_mode2
    chown system system /sys/class/dqe/dqe/tune_mode2
    chmod 0660 /sys/class/dqe/dqe/tune_onoff
    chown system system /sys/class/dqe/dqe/tune_onoff
    chmod 0660 /sys/class/dqe/dqe/aosp_colors
    chown system system /sys/class/dqe/dqe/aosp_colors

# Permissions for gnss
    chmod 0660 /dev/gnss_ipc
    chown system system /dev/gnss_ipc

#mail
chown root system /sys/devices/platform/11500000.mali/dvfs_min_lock
chown root system /sys/devices/platform/11500000.mali/dvfs_max_lock
chmod 664 /sys/devices/platform/11500000.mali/dvfs_min_lock
chmod 664 /sys/devices/platform/11500000.mali/dvfs_max_lock

# Copy DRM Key
#    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
#    chmod 0644 /factory/wv.keys

# FM Radio
    chmod 0666 /dev/radio0

# Permission for flashlight control for HAL3.3
# The Istor espresso board does not have the flash led h/w, So the below permission line are blocked.
# If you want to test the flashlight in board which have the flash led h/w, Enable the below blocked lines.
    chmod 0660 /sys/class/camera/flash/rear_torch_flash
    chown system camera /sys/class/camera/flash/rear_torch_flash

# Flashlight control for HAL3
   chmod 0660 /sys/class/leds/fled-s2mu106/fled_mode
   chown system camera /sys/class/leds/fled-s2mu106/fled_mode
   chmod 0660 /sys/class/leds/fled-s2mu106/fled_torch_curr
   chown system camera /sys/class/leds/fled-s2mu106/fled_torch_curr

#load ecd firmware
    write /proc/ecd/load_firmware 1

    restorecon_recursive /data/vendor_de/0/fpdata/
    restorecon_recursive /data/misc/keystore/

service fuse_sdcard /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard /storage/sdcard
    class late_start
    disabled
service fuse_usb1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usb1 /storage/usb1
    class late_start
    disabled
service fuse_usb2 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usb2 /storage/usb2
    class late_start
    disabled

service abox /vendor/bin/main_abox 14a50000.abox /data/vendor/log/abox
    class late_start
    user audioserver
    group system

# GPS daemon
service gpsd /vendor/bin/hw/gpsd
    class main
    user gps
    group system inet net_raw wakelock
    capabilities BLOCK_SUSPEND
    ioprio be 0

#service charger /system/bin/charger
#    class charger
#    group log
#    seclabel u:r:charger:s0

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1

# shutdown animation
service shutdownanim /system/bin/bootanimation -shutdown
    class core animation
    user graphics
    group graphics audio
    disabled
    oneshot

## SCSC WLAN
on property:ro.boot.wifimacaddr=*
    write /sys/module/scsc_wlan/parameters/mac_addr_override ${ro.boot.wifimacaddr}

# WiFi wpa suppplicant service
service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -puse_p2p_group_interface=1 \
    -g@android:wpa_wlan0
    class main
    interface aidl android.hardware.wifi.supplicant.ISupplicant/default
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /vendor/bin/dhcpcd -aABDKL
        class main
        disabled
        oneshot

service iprenew_wlan0 /vendor/bin/dhcpcd -n
        class main
        disabled
        oneshot

service dhcpcd_p2p /vendor/bin/dhcpcd -aABKL
        class main
        disabled
        oneshot

service iprenew_p2p /vendor/bin/dhcpcd -n
        class main
        disabled
        oneshot

# SPE-1748: PANU DHCP Client not launched
service dhcpcd_bt-pan /vendor/bin/dhcpcd -ABKL
        class main
        disabled
        oneshot

service iprenew_bt-pan /vendor/bin/dhcpcd -n
        class main
        disabled
        oneshot

# IMS WiFi Calling [START] #
service charonservice /vendor/bin/charon
        class main
        user root
        disabled

on property:vendor.charon.exec=1
    rm /data/vendor/misc/vpn/charon.pid
    chmod 0666 /dev/tun
    start charonservice

on property:vendor.charon.exec=0
    stop charonservice
    rm /data/vendor/misc/vpn/charon.pid
# IMS WiFi Calling [END] #

# IMS packet router daemon
service pktrouter /vendor/bin/wfc-pkt-router
    class main
    user root
    disabled
    seclabel u:r:pktrouter:s0

on property:vendor.pktrouter=1
    start pktrouter

on property:vendor.pktrouter=0
    stop pktrouter

on property:ro.bootmode=charger
    mkdir /config/usb_gadget/g1
    mkdir /config/usb_gadget/g1/strings/0x409
    mkdir /config/usb_gadget/g1/configs/c.1
    mkdir /config/usb_gadget/g1/configs/c.1/strings/0x409
    mkdir /config/usb_gadget/g1/functions/mass_storage.0
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer "Google Inc."
    write /config/usb_gadget/g1/strings/0x409/product "Exynos"
    write /config/usb_gadget/g1/configs/c.1/strings/0x409/configuration "Conf 1"
    write /config/usb_gadget/g1/configs/c.1/MaxPower 0x3f
    symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/c.1/mass_storage.0
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x22b8
    write /config/usb_gadget/g1/idProduct 0x2eb7
    write /sys/class/android_usb/android0/functions mass_storage
    write /config/usb_gadget/g1/UDC "13200000.dwc3"
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state charging

service exynos-thermald /vendor/bin/exynos-thermald nolog
	class late_start
	group system root
#	oneshot
	file /sys/class/thermal/thermal_zone0 "r"

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
