# Egistec fingerprint feature
on fs
    chmod 0660 /dev/esfp0
    chown system system /dev/esfp0
    chmod 0660 /sys/devices/platform/egis_input/navigation_event
    chmod 0660 /sys/devices/platform/egis_input/navigation_enable
    chown system system /sys/devices/platform/egis_input/navigation_enable
    chown system system /sys/devices/platform/egis_input/navigation_event
